body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
}

.text-primary{
color: #FD6E0A;

}

.nav-title{
color: #181818;
font-size: 45px;
font-weight: 800;

}

nav > ul{
    display: flex ;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}

.btn-primary{ 
border: 0;
border-radius: 5px;
background: #FD6E0A;
font-size: 20px;
font-style: normal;
font-weight: 700;
color: white;
padding: 10px 10px;
}
.h{
background-color:#FFF8F3;;
}
.banner{
    padding: 30px 50px 30px 150px;
    display: flex; /* making childs into in line*/
    align-items: center;
    justify-content: space-between;
}
.dp{
 width: 400px;
height: 500px;

}
